.container {
  padding: 1rem;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.27) 2px 2px 8px;
  
    
  .notFound {
    text-align: center;

    img{
      width: 70%;
      height: 70%;
      margin: 20px auto;
    }
       
    h3{
      font-size: 2rem;
      color: #333;
      margin: 0;
      text-align: center;
    }  
      a{
        text-decoration: none;
        color: red;
        background-color: #fff;
        font-weight: bold;
      }
  }

  .contato{
    h2 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      color: #666;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #000;
      transition: color 0.3s ease;
      line-height: 2; /* Adiciona espaço entre as linhas */
      
      &:hover {
      color: red;
      }
    }
  }
}
