.container {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.27) 2px 2px 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  
  .notFound {
    text-align: center;
       
    h3{
      font-size: 2rem;
      color: #333;
      margin: 0;
      text-align: center;
    }  
      a{
        text-decoration: none;
        color: red;
        background-color: #fff;
        font-weight: bold;
      }
  }
}
