.cabecalho {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  h1{
      padding: 2px;
      color: rgb(243, 243, 243);
      font-size: 3rem;
      font-family: 'Rock Salt', cursive;
      font-weight: 400;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  img {
    width: 10%;
    height: 10%;
    margin-right: 20px;
  }

  a{
    text-decoration: none;
    color: white;
  }
}
